
*.iml

CBIR/.idea/compiler.xml

CBIR/.idea/copyright/profiles_settings.xml

CBIR/.idea/misc.xml

CBIR/.idea/modules.xml

CBIR/.idea/workspace.xml

CBIR/.settings/org.eclipse.jdt.core.prefs

CBIR/src/.idea/compiler.xml

CBIR/src/.idea/copyright/profiles_settings.xml

CBIR/src/.idea/misc.xml

CBIR/src/.idea/modules.xml

CBIR/src/.idea/workspace.xml

CBIR/src/images/.idea/compiler.xml

CBIR/src/images/.idea/copyright/profiles_settings.xml

CBIR/src/images/.idea/misc.xml

CBIR/src/images/.idea/modules.xml

CBIR/src/images/.idea/workspace.xml
